<header class="header">
<head>
<script type="application/ld+json">
{
   "@context": "http://schema.org/",
   "@type":"Dataset",
   "name":"HIHISIV - The database of the HIV and SIV Host Immune Response",
   "description":"In the battle of the host against lentiviral pathogenesis, the immune response is crucial. However, several questions remain unanswered about the interaction with different viruses and their influence on disease progression. The simian immunodeficiency virus (SIV) infecting nonhuman primates (NHP) is widely used as a model for the study of the human immunodeficiency virus (HIV). They share physiological and anatomical similarities that are largely explored to understand pathogenic and non-pathogenic disease progression. The HIHISIV project was developed to support researchers to integrate and evaluate the large number of transcriptional data associated with the presence/absence of the pathogen (SIV or HIV) and the host response (NHP and human). This database provides accurate resources for browsing and visualization results for more robust analysis of pre-existing data in transcriptome repositories.",
   "url":"https://hihisiv.github.io",
   "keywords":[
       "SIV", "HIV", "transcriptome", "immunodeficiency virus"
       ],
   "creator":{
       "@type":"Organization",
       "url":"https://orcid.org/0000-0002-7139-0865",
       "name":"Raquel L. Costa",
       "contactPoint":{
           "@type": "ContactPoint",
           "contactType": "technical support",
           "telephone": "+55 24 2233 6000",
           "email": "quelopes@gmail.com"
       }
   },
   "includedInDataCatalog":{
       "@type":"DataCatalog",
       "name":""
     },
   "distribution":[
       {
               "@type": "DataDownload",
               "fileFormat": "CSV and SQL",
               "contentUrl": "https://hihisiv.github.io"
           }
       ],
       "temporalCoverage":"1950-01-01/2021-12-31"
       }
</script>
</head>
<div class="navigation">
{% if page.full_logo %}
<a href="{{ site.url }}" class="logo">{{  }}</a>
      <img src="{{ "/assets/img/title.png" | absolute_url }}" alt="{{ }}" />
{% else %}
<a href="{{ site.url }}" class="logo">{{ site.short_logo }}</a>
{% endif %}
<ul class="menu">
<li class="menu__entry"><a href="{{ site.url }}">Home</a></li>
<li class="menu__entry"><a href="{{ site.url }}/background">Background</a></li>
<li class="menu__entry"><a href="{{ site.url }}/experiment_list">Experiments list</a></li>
<li class="menu__entry"><a href="http://152.70.185.41">Database</a></li>
<li class="menu__entry"><a href="{{ site.url }}/documentation">Documentation</a></li>
<li class="menu__entry"><a href="{{ site.url }}/availability">Data availability</a></li>
<li class="menu__entry"><a href="{{ site.url }}/externalSources">External sources</a></li>
</ul>
</div>
<ul class="social-links">

{% if site.dark_mode %}
    <a class="social-links__entry" href='#' onclick="switch_dark_mode_icon(darkmode, 'dark_mode_toggle')">
        <i style="color: rgba( 203, 57, 57, 100%);" id="dark_mode_toggle" class="fas fa-sun"></i>
    </a>
{% endif %}
</ul>
</header>
