<header class="header">
<div class="navigation">
{% if page.full_logo %}
<a href="{{ site.url }}" class="logo">{{  }}</a>
      <img src="{{ "/assets/img/title.png" | absolute_url }}" alt="{{ }}" />
{% else %}
<a href="{{ site.url }}" class="logo">{{ site.short_logo }}</a>
{% endif %}
<ul class="menu">
<li class="menu__entry"><a href="{{ site.url }}">Home</a></li>
<li class="menu__entry"><a href="{{ site.url }}/background">Background</a></li>
<li class="menu__entry"><a href="{{ site.url }}/experiment_list">Experiments list</a></li>
<li class="menu__entry"><a href="http://152.70.185.41">Database</a></li>
<li class="menu__entry"><a href="{{ site.url }}/documentation">Documentation</a></li>
<li class="menu__entry"><a href="{{ site.url }}/availability">Data availability</a></li>
<li class="menu__entry"><a href="{{ site.url }}/externalSources">External sources</a></li>
</ul>
</div>
<ul class="social-links">

{% if site.dark_mode %}
    <a class="social-links__entry" href='#' onclick="switch_dark_mode_icon(darkmode, 'dark_mode_toggle')">
        <i style="color: rgba( 203, 57, 57, 100%);" id="dark_mode_toggle" class="fas fa-sun"></i>
    </a>
{% endif %}
</ul>
</header>
